<mat-progress-bar mode="indeterminate" *ngIf="!pokemon"></mat-progress-bar>

<mat-list>
  <a mat-list-item *ngFor="let item of pokemon | paginate: { itemsPerPage: 10, currentPage: page }; last as last" [routerLink]="['/details', item.id]">
    <img matListAvatar src="{{ item.image() }}" alt="{{ item.formattedName() }}">
    <h3 matLine> {{ item.id }} - {{ item.formattedName() }} </h3>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </a>
  <mat-list-item *ngIf="pokemon">
    <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
  </mat-list-item>
</mat-list>