<mat-progress-bar mode="indeterminate" *ngIf="!pokemon.name"></mat-progress-bar>

<mat-card class="example-card" *ngIf="pokemon.name">
  <mat-card-header>
    <mat-card-title>{{ pokemon.id }} - {{ pokemon.formattedName() }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ pokemon.image() }}" alt="{{ pokemon.formattedName() }}">
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Types:</h3>
      <mat-list-item *ngFor="let type of pokemon.types; last as last">
        <h3 matLine> {{ type }} </h3>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
      <h3 mat-subheader>Stats:</h3>
      <mat-list-item *ngFor="let stat of pokemon.stats; last as last">
        <h3 matLine> {{ stat.name }}: {{ stat.value }} </h3>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

